/* css/transitions.css */

.transition-target {
    will-change: transform, opacity, filter;
    transform-origin: center center;
}

body.is-transitioning {
    pointer-events: none;
}

/* Zoom-IN: reinzoomen, ausblenden */
.transition-target.is-zooming-in {
    transition: transform 700ms cubic-bezier(.2, .8, .2, 1),
        opacity 700ms linear;
    transform: scale(8);
    opacity: 0;
}

/* Collapse-OUT: auf Punkt kollabieren */
.transition-target.is-collapsing-out {
    transition: transform 650ms cubic-bezier(.2, .8, .2, 1),
        opacity 650ms linear;
    transform: scale(0.02);
    opacity: 0;
}